*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {font-family: 'segoe ui light';}
.container-fluid {padding: 0; margin: 0;}
footer
{
    border-top: solid 1px #38aac2;
}




@media only screen and (max-width: 575px) {
    footer p {
      text-align: center;
    }
  }


@media only screen and (max-width: 370px) {
    footer p {
      text-align: center;
    }
  }